/* @import url('https://fonts.googleapis.com/css2?family=Mea+Culpa&family=MonteCarlo&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Abel&family=MonteCarlo&display=swap');

    /*The sexy colors in my color scheme:
        #94738B
        #91467D
        #DEADD1
    Used in background:
        #453641
        #5E2D51
    */

:root {
    --vertical-space: 2rem;
    --horizontal-space: 3rem;

    --body-color: #453641;
    --heading-color: #94738B;
    --body-heading-color: #5E2D51;
    --link-color: #9E7B95;
    --footer-color: #94738B;
    --link-hover-color: #DEADD1;
}

body {
    font-size: 18px;
    font-family: 'Abel', sans-serif;
    line-height: 1.5;
    display: grid;
    color: var(--body-color);
    grid-template-areas: "head head"
                        "nav nav"
                        "main main"
                        "foot foot";
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto auto 1fr auto;
}


body>* {
    padding-left: var(--horizontal-space);
    padding-right: var(--horizontal-space);
}

body>header {
    grid-area: head;
}

body>nav {
    grid-area: nav;
}

body>nav ul {
    list-style-type: none;
    padding: 0;
}

body>nav ul li {
    display: inline;
    padding-right: 1rem;
}

body>main {
    grid-area: main;
    background-color: white;
    margin-right: 3%;
    margin-left: 3%;
}

body>footer {
    grid-area: foot;
    color: var(--footer-color);
}

main>h1 {
    color: var(--heading-color);
}

h1, h2, h3, h4 {
    line-height: 1.2;
}

h1{
    font-family: 'MonteCarlo', cursive;
    color: var(--heading-color);
}

h2 {
    font-size: 1.5em;
    font-family: 'MonteCarlo', cursive;
    margin-top: 1em;
    color: var(--heading-body-color);
}

h3 {
    font-family: 'Abel', sans-serif;
    color: var(--body-color);
    margin-top: 0;
    margin-bottom: 0;
}

h4 {
    font-family: 'Abel', sans-serif;
    color: var(--body-color);
    margin-top: 5px;
    margin-bottom: 0;
}

/* link stuff */
a {
    color: var(--link-color);
}

/* link when you hover */
a:hover {
    color: var(--link-hover-color);
}

body#about img {
    height: 15em;
}

p {
    max-width: 50em;
}

header,
footer {
    padding-top: var(--vertical-space);
    padding-bottom: var(--vertical-space);
}

header h1,
footer h1 {
    margin: 0;
}

body#portfolio ul#portfolioItems {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    list-style-type: none;
    padding: 0;
}

@media (min-width: 25em) {
    body#portfolio ul#portfolioItems li {
        flex-basis: 48%;
        padding-right: 2%;
    }
}

body#portfolio ul#portfolioItems li img {
    max-width: 100%;
}


/* stolen from https://www.gradientmagic.com/collection/subtlegrid */
.bgImage {
    /* background-image: linear-gradient(45deg, rgba(254, 246, 210, 0.53) 0%, rgba(254, 246, 210, 0.53) 14.286%,rgba(221, 240, 216, 0.53) 14.286%, rgba(221, 240, 216, 0.53) 28.572%,rgba(188, 233, 223, 0.53) 28.572%, rgba(188, 233, 223, 0.53) 42.858%,rgba(156, 227, 229, 0.53) 42.858%, rgba(156, 227, 229, 0.53) 57.144%,rgba(123, 220, 235, 0.53) 57.144%, rgba(123, 220, 235, 0.53) 71.42999999999999%,rgba(90, 214, 242, 0.53) 71.43%, rgba(90, 214, 242, 0.53) 85.71600000000001%,rgba(57, 207, 248, 0.53) 85.716%, rgba(57, 207, 248, 0.53) 100.002%),linear-gradient(135deg, rgb(246, 99, 200) 0%, rgb(246, 99, 200) 12.5%,rgb(223, 98, 196) 12.5%, rgb(223, 98, 196) 25%,rgb(199, 97, 192) 25%, rgb(199, 97, 192) 37.5%,rgb(176, 96, 188) 37.5%, rgb(176, 96, 188) 50%,rgb(152, 95, 184) 50%, rgb(152, 95, 184) 62.5%,rgb(129, 94, 180) 62.5%, rgb(129, 94, 180) 75%,rgb(105, 93, 176) 75%, rgb(105, 93, 176) 87.5%,rgb(82, 92, 172) 87.5%, rgb(82, 92, 172) 100%) */
    background-image: repeating-linear-gradient(45deg, hsla(207,0%,63%,0.05) 0px, hsla(207,0%,63%,0.05) 1px,transparent 1px, transparent 11px,hsla(207,0%,63%,0.05) 11px, hsla(207,0%,63%,0.05) 12px,transparent 12px, transparent 32px),repeating-linear-gradient(0deg, hsla(207,0%,63%,0.05) 0px, hsla(207,0%,63%,0.05) 1px,transparent 1px, transparent 11px,hsla(207,0%,63%,0.05) 11px, hsla(207,0%,63%,0.05) 12px,transparent 12px, transparent 32px),repeating-linear-gradient(135deg, hsla(207,0%,63%,0.05) 0px, hsla(207,0%,63%,0.05) 1px,transparent 1px, transparent 11px,hsla(207,0%,63%,0.05) 11px, hsla(207,0%,63%,0.05) 12px,transparent 12px, transparent 32px),repeating-linear-gradient(90deg, hsla(207,0%,63%,0.05) 0px, hsla(207,0%,63%,0.05) 1px,transparent 1px, transparent 11px,hsla(207,0%,63%,0.05) 11px, hsla(207,0%,63%,0.05) 12px,transparent 12px, transparent 32px),linear-gradient(90deg, rgb(94,45,81),rgb(69,54,65));
}

.leadership-position {
    font-style: italic;
}



/* in-between screen (small enough to look ridiculous but not small enough to warrent mobile formatting)*/
@media (min-width: 30em) {
    body {
        grid-template-areas: "head head"
                                "nav main"
                                "foot foot";
        grid-template-rows: auto 1fr auto;
    }

    body#about img {
        /* padding-left: var(--vertical-space); */
        margin-right: var(--vertical-space);
    }

    body>main {
        grid-area: main;
        background-color: white;
        margin-right: 3%;
    }
    
}

/* medium to large screen */
@media (min-width: 40em) {
    body {
        grid-template-areas: "head head"
                                "nav main"
                                "foot foot";
        grid-template-rows: auto 1fr auto;
    }

    body>nav ul li {
        display: block;
    }

    body#about img {
        /* padding-left: var(--vertical-space); */
        float: left;
        display: inline;
        margin-right: var(--vertical-space);
    }

    body>main {
        grid-area: main;
        background-color: white;
        margin-right: 3%;
    }
    
}